body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

main {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 20px auto;
    max-width: 1200px;
    line-height: 1.6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header nav a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a.active {
    font-weight: bold;
    color: #FF6347;
    pointer-events: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

h2 {
    color: #333;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

h5 {
    color: green;
    background-color: #e0ffe0;
    padding: 10px;
    border: 1px solid #b2ffb2;
    border-radius: 5px;
    width: fit-content;
}

.form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-form {
    display: inline;
    background-color: none;
    padding: 0;
    border-radius: 0;
    max-width: 0;
    box-shadow: 0;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

.trash-btn {
    background-color: #f39c12;
    color: white;
    margin-left: 10px;
}

.trash-btn:hover {
    background-color: #e67e22;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
    border: none;
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
}

.delete-btn:hover {
    background-color: #e53935;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}
